.scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #372d21;
    color: white;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    transition: 1s;
  }
  
  .scrollToTopButton:hover {
    background-color: #4d93de;
  }
  